<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scott & Ariel's Home Helper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
</head>
<body onload="init()">
<div class="container">
    <div class="row ml-2 mr-2">
        <div class="col">
            <div class="row mt-5">
                <div class="col-6">
                    <div class="row">
                        <div class="col">
                            <h3>Hi {{ user_name }}!</h3>
                            <p>Current time: <strong><span id="clock_time"></span></strong></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p>Currently: <strong><span id="current_temp"></span>° (min: <span id="min_temp">
                                        </span>°, max: <span id="max_temp"></span>°) w/ <span id="detailed_status">
                                        </span></strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Wind speed: <strong><span id="wind"></span></strong></p>
                                </div>
                                <div class="col">
                                    <p>Sunset at: <strong><span id="sunset"></span></strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p>quote of the day</p>
                            <blockquote class="blockquote">
                                  <p class="mb-0" style="font-size: 16px"><span id="quote"></span></p>
                                  <footer class="blockquote-footer"><cite title="Source Title"><span id="author">
                                    </span></cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <div class="row">
                        <div class="col">
                            <img src="" id="dog_image" height="200px" alt="image of dog" style="border: 2px solid black;">
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col">
                            <button type="button" class="btn-success btn-lg" onclick="setDogImage()"
                                    style="border: 2px solid black;">
                                change dog image
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>